.App {
  text-align: center;
}

body {
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
}

div {
  line-height: 30px;
  text-align: center;
}

.website {
  background: rgb(216, 216, 216);
  height: 500px;
  width: 590px
}

.dashboard {
  background: rgb(172, 172, 172);
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.details {
  flex-wrap: wrap;
  width: 500px;
  height: 200px;
}

.rating {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgb(172, 172, 172);
  width: 33%;
  height: 100%;
}

.reviews {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgb(172, 172, 172);
  width: 33%;
  height: 100%;
}

.analysis {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgb(172, 172, 172);
  width: 33%;
  height: 100%;
}

.visitors {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgb(172, 172, 172);
  justify-self: flex-end;
  width: 449px;
  height: 300px;
}

.visitors-container {
  width: 100%
}

.thingy {
  margin: 0 auto;
  background: gray;
  width: 350px;
  height: 150px;
}